/* Footer */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    bottom: 0;
    width: 100%;
}

/* header */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #4e73df;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-header li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main-header li:first-child {
    font-weight: bold;
}

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}

/* el que sigue */